
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
App1/App1.sln
App1/App1/App1.Shared/App.xaml
App1/App1/App1.Shared/App.xaml.cs
App1/App1/App1.Shared/App1.Shared.projitems
App1/App1/App1.Shared/App1.Shared.shproj
App1/App1/App1.Windows/App1.Windows.csproj
App1/App1/App1.Windows/App1.Windows_TemporaryKey.pfx
App1/App1/App1.Windows/Assets/Logo.scale-100.png
App1/App1/App1.Windows/Assets/SmallLogo.scale-100.png
App1/App1/App1.Windows/Assets/SplashScreen.scale-100.png
App1/App1/App1.Windows/Assets/StoreLogo.scale-100.png
App1/App1/App1.Windows/MainPage.xaml
App1/App1/App1.Windows/MainPage.xaml.cs
App1/App1/App1.Windows/Package.appxmanifest
App1/App1/App1.Windows/Properties/AssemblyInfo.cs
App1/App1/App1.WindowsPhone/App1.WindowsPhone.csproj
App1/App1/App1.WindowsPhone/Assets/Logo.scale-240.png
App1/App1/App1.WindowsPhone/Assets/SmallLogo.scale-240.png
App1/App1/App1.WindowsPhone/Assets/SplashScreen.scale-240.png
App1/App1/App1.WindowsPhone/Assets/Square71x71Logo.scale-240.png
App1/App1/App1.WindowsPhone/Assets/StoreLogo.scale-240.png
App1/App1/App1.WindowsPhone/Assets/WideLogo.scale-240.png
App1/App1/App1.WindowsPhone/MainPage.xaml
App1/App1/App1.WindowsPhone/MainPage.xaml.cs
App1/App1/App1.WindowsPhone/Package.appxmanifest
App1/App1/App1.WindowsPhone/Properties/AssemblyInfo.cs
